<div class="container-fluid animate__animated animate__backInLeft">
    <div class="row" *ngFor="let product of products">
        <div class="col" >
            <div class="card" >
                <img src="{{product.img}}" class="card-img-top" style="max-height:165px" alt="...">
                <div class="card-body">
                  <h6 class="card-title">{{ product.type }}</h6>
                  <a routerLink='/products/{{product.url}}' class="btn btn-dark btnCart">Go to Products</a>
                  
                </div>
                
              </div>
</div>
</div>
</div>