.container{
    height: 100%;
    display:flex;
    align-content: center;
  justify-content: center;
    margin-top:60px;
    margin-bottom:18.3rem;
    }

    .card{

    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.644) !important;
    }

    .social_icon span{
    font-size: 60px;
    margin-left: 10px;


    }
    .googleIcn{
        color: #FF5733;
    }
    .facebookIcn{
        color:#4267B2;
    }
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }

    .card-header h3{
    color: white;
    }

    .social_icon{
    position: absolute;
    right: 20px;
    top: -102px;

    }

    .input-group-prepend span{
    width: 50px;

    color: black;
    border:0 !important;
    }

    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

    }
    .input-group{
        margin-bottom:30px;
    }
    .remember{
    color: white;
    }

    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
.card-body{
  z-index: 1;
}
    .login_btn{
    color: white;
    z-index:1;
    width: 100px;
    }

    .login_btn:hover{
    color: black;
    background-color: white;
    }

    .links{
    color: white;
    }

    .links a{
    margin-left: 4px;
    }
    .signUp{
      color:rgb(255, 255, 255);
      z-index:1;
    }
    .signUp:hover{
        color:#4d7baf9f;

    }
.alert{
  text-align: center;
}
@media (max-width:770px){
  .card{
    width:100%;
  }
}
