.container-fluid{
    margin-bottom:10.23rem;
}
#carouselExampleControls{
    margin-top:110px;
    border-radius:3px;
    border:1px solid;
}
.carousel-caption{
    left:40%;
    right:40%;
}
.link{
    text-decoration:none;
    color:white;
}
.jumbotron{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.logo{
    align-self:center;
}
.display-4 , .title{
    align-self:center;
    padding-bottom:10px;
    color:white;
}
.carousel-inner{
  height:400px;
}
.carousel-item {
width:100%;
height: 100%;
}
.image{
object-fit: fill;
width:100%;
height: 100%;
}
@media (max-width:500px){

  .carousel-inner{
    height:250px;
  }
  .carousel-item{
    height:  100%;
  }
  .image{
    object-fit:fill;
    height:100%;
  }
}
@media ( max-width:1040px){
    .container-fluid{
        margin-bottom:11.45rem;
    }

}

@media (min-width:976px){
    .div-col-7{
    position:relative;
    }
   .d-block{
       height:20rem;
   }
    #carouselExampleControls{
        width: 90%;
        left:6%;
        right:5%;

    }
}
@media (min-width:1024px){
    .container-fluid{

        margin-bottom:17rem;
    }
}
@media (min-height: 1366px){
  .container-fluid{
    margin-bottom:121px;
    height:80vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
  }
}
