<div class="container">
<div id="login-box">
    <form #formData='ngForm' (ngSubmit)="onSubmit(email.value, password.value)" class="left">
      <h1>Sign up</h1>
      
      <input type="text" #email (ngModel)='email' name="email" placeholder="E-mail" required/>
      <input type="password" #password name="password" (ngModel)='password' placeholder="Password" required/>
      
      
      <input type="submit" name="signup_submit" value="Sign me up" />
    </form>
  
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <!-- <button class="social-signin facebook">Log in with facebook</button> -->
      <button class="social-signin google"(click)="login()">Log in with Google</button>
    </div>
    <div class="or">OR</div>
  </div>
</div>