<footer class="navbar  navbar-dark bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h5 class="navbar-text"> Socials: </h5>
                <a class="navbar-brand insta" href="#"><i class="fa fa-instagram" aria-hidden="true"> Instagram</i></a>
                <a class="navbar-brand facebook" href="#"><i class="fa fa-facebook-square" aria-hidden="true"> Facebook</i> </a>
                <a class="navbar-brand twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"> Twitter</i></a>
                <a class="navbar-brand gitHub" href="#"><i class="fa fa-github" aria-hidden="true"> Github</i></a>
            </div>
            <div class="col-lg">
                <h5 class="navbar-text">Contact:</h5>
                <span class="navbar-brand email" href="#"><i class="fa fa-envelope" aria-hidden="true"> Email:</i>
                    anastasiu.tudor@gmail.com</span>
                    <a class="navbar-brand linkedIn" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"> LinkedIn</i></a>
               
            </div>
        </div>
       
    </div>
  </footer>