table{
    display:flex;
    justify-content:space-around;
    margin-top:10px;
}
table tr{
    display:flex;
 
    justify-content: space-around;
}
.titles{
    font-size:19px;
}
.detailsTd{
    display:flex;  
}
.thImage{
    align-self:flex-start; 
    margin-top: 20px;
}
.thDetails{
    margin:35px 0;
    text-align: center;
    justify-self: center;
   align-content: center;
   
}
.details{
    align-items:center;
    text-align: center;
}
.buttons{
    position:absolute;
    right:0;
    bottom:0;
    margin-right:5px;
    margin-bottom:10px;
    
   
    
}
button{
    margin-left:5px;
    margin-top:20px;
}
.price{
    text-align:start;
    margin-top:20px;
}
input{
    width: 3rem;
}
.submit{
    float:right;
    
}
.full{
    height:90vw;
    
}
#total{
    margin-top:10px;
}
.checkout{
  float:right;
}
@media (max-width:976px){
    .card{
        width:auto;
    }
    .card-body{
        width: auto;
    }
}