.container{
    margin-top:7rem;
    margin-bottom: 11rem;
}
.form-group{
    width: 80%;
}
.card{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.buttons{
    margin:10px 0px;
}
.buttons button{
    margin:0px 5px;
}
.row{
    width:100%;
    padding:30px;
}
.title{
    padding:10px;
}