<div *ngIf="product.title" class="card" style="width: 20rem;">
    <img  *ngIf="product.imageUrl" src="{{product.imageUrl}}" class="card-img-top" alt="{{ product.title }}">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <h6 class="card-title">{{product.category}}</h6>
      <p class="card-text">{{product.price | currency:"&euro;":true}}</p>
   
    </div>
    <div class="card-footer">
      <button *ngIf="showActions"
       class="btn btn-dark"
       (click)="addToCart(product)"
       >Add to Cart</button>
    </div>
  </div>