.container{
    position:relative;
    padding-bottom:25px;
}
.row{
    display:flex;

}
.col-md-4{
    display:flex;
    justify-content:space-between;
}
.products {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-spinner{
  height:75vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
@media (max-width:770px){
    .col-3{
        width:30%;
    }
}
@media (max-width:570px){
    .col-3{
        width:100%;
    }
    .products{
        display:flex;
        justify-content:center;
        width: 100%;

    }
}

@media (min-height:1366px){
  .products {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
}
