@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');

.container{
  margin-bottom:10.1rem;
}

.container-fluid {
  position: relative;
  display:flex;
  flex-direction: row;
  margin: 5% auto;
  width: 600px;
  height:485px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 5.45rem;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
  padding: 40px;

  height: 400px;
  margin-top:50px;

}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 100px;
  display:flex;


  flex-direction: column;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 50%;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;

}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}


button.social-signin.google {
  background: #DD4B39;
}
.links{
  padding-top:20px;
}
.signUp{
  color:black;
  text-decoration: none;
  border-radius: 5px;
  width:50%;
  align-self:center;
  margin-top:5px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
  transition: 0.2s ease;
}
.signUp:hover{
  color:whitesmoke;

}
.container-fluid{
  display:flex;

}

@media (max-width:770px){
  .container-fluid{
    flex-direction: column;
    height:100%;
    width:100%;
  }
  .right{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    position: relative;
    height:40%;
    width:auto;
    top:0;
    margin-top:20px;
  }
.or{
  position: absolute;
  top: 53%;
  left: 45%;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 40%);
  line-height: 40px;
  text-align: center;
}
  .left{
    position: relative;
    height:40%;
    margin-top:0;
    margin-bottom:20px;
  }

}

@media (min-height:1366px){
  .container{
    height: 60vh;
  }
}
