.head{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button{
    float:right;
}
.form-group{
    padding: 5px;
}
label{
    margin:2px;
}
.fistCol{
    padding-top:5px;
}
img{
    margin:30px 10px 0px 0px;
}
.form-horizontal{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:10px;
}

.alert{
    text-align:center;
    width: 80%;
}
.close{
  border:none;
  background-color:inherit;

}
 .close i{
 font-size: 22px;
}
@media (max-width:600px){
    .alert{
        margin:0px;
    }
}
@media (min-height: 1366px){
  .head{
    height:90vw;
    margin-bottom:20px;
  }

}
