<ul class="navbar navbar-dark bg-dark ">
    <div class="dropdown">
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Instruments
        </button>
        <ul class="dropdown-menu bg-dark">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/guitars"  aria-current="page">Guitars</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/electricGuitars"  aria-current="page">Electric Guitars</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Basses</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Strings</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Drums</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Keys</a>
              </li>
        </ul>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-dark  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Equipment
        </button>
        <ul class="dropdown-menu bg-dark">
            <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">PA</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Pro Audio</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">PC</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Software</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" aria-current="page">DJ</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Lighting</a>
              </li>
        </ul>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-dark  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Other products
        </button>
        <ul class="dropdown-menu bg-dark ">
            <li class="nav-item active ">
                <a class="nav-link" href="#" aria-current="page">Winds</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Kids</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Sheet Music</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" aria-current="page">Accessories</a>
              </li>
        </ul>
      </div>
      
</ul>