.footer{

    width: 100%;

    box-shadow: -2px -19px 22px -11px rgba(0,0,0,0.79);
}
.container {
  display:flex;
  justify-content:space-evenly;
}
.contact, .socials{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
.color {
    background-color:rgb(48, 46, 46);
    color:white;
}
a{
    font-size: 14px;
    color:white;
}
.navbar-text{
    color:white;
}
.insta:hover{
color:#833ab4;
}
.facebook:hover{
    color: #4267B2;
}
.twitter:hover{
    color:#1DA1F2;
}
.gitHub:hover{
    color: #b8c3cf;
}
.email:hover{
    color:#405de6;
}
.email{
    font-size:16px;
    margin-left:5px;
}

.linkedIn:hover{
    color: #2867B2;
}
.myWebsite:hover{
  color:skyblue;
}
@media screen and (max-width:720px){
  .container{
    display:flex;
    flex-direction: column;
  }

}
