<footer class="navbar color">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h5 class="navbar-text"> Social: </h5>
                <a class="navbar-brand insta" href="https://www.instagram.com/tudor.anastasiu/"><i class="fa fa-instagram" aria-hidden="true"> Instagram</i></a>
                <a class="navbar-brand facebook" href="https://www.facebook.com/anastasiu.tudor1/"><i class="fa fa-facebook-square" aria-hidden="true"> Facebook</i> </a>
                <a class="navbar-brand gitHub" href="https://github.com/tudor1997"><i class="fa fa-github" aria-hidden="true"> Github</i></a>
            </div>
            <div class="col-lg">
                <h5 class="navbar-text">Contact:</h5>
                <a class="navbar-brand email"  href="MAILTO:anastasiu.tudor@gmail.com" method="post" ><i class="fa fa-envelope" aria-hidden="true"> Email:</i>
                    anastasiu.tudor@gmail.com</a>
                <a class="navbar-brand linkedIn" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"> LinkedIn</i></a>
                  <a class="navbar-brand myWebsite" href="https://anastasiu-tudor.web.app/"><i class="fa fa-address-book-o" aria-hidden="true"> My Website</i></a>
            </div>
        </div>

    </div>
  </footer>
