.form-header{
    display:flex;
    margin-left:6rem;
}
.form-control{
    width:300px;
}
@media (max-width:1128px){
    .form-header{
        display:none;
    }
}
@media (max-width:1220px){
    .form-control{
        width:auto;
    }
}
